<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <button class="btn btn-primary" routerLink="/create-todo"><i class="fa fa-plus-circle"></i></button>
    </ion-buttons>
    <ion-title>Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-list *ngIf="todos">
    <ion-item class="container" *ngFor="let todo of todos" (click)="itemClicked(todo.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="'data:image/jpeg;base64,' + todo.image"></ion-img>
      </ion-thumbnail>
      <ion-label class="todo-title" text-wrap>
        <h2>Title: {{todo.title}}</h2>
      </ion-label>
      <ion-icon [name]="todo.isDone ? 'checkbox-outline' : 'square-outline'"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!todos">
    <ion-list>
      <ion-item *ngFor="let i of [0,1,2,3,4]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>