.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}
  
.align-right { 
  position: absolute; 
  right: 10px; 
  margin-left: auto;
}

.todo-title{
  padding-right: 50px;
}