<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="centered-div identity-content">
      <app-facebook-sign-in></app-facebook-sign-in>
      <app-google-sign-in></app-google-sign-in>
      <button type="button" class="btn btn-info identity-button" routerLink="/sign-in-email"><i
          class="fa fa-sign-in"></i>
        Sign In With
        Email</button>
      <button type="button" class="btn btn-success identity-button" routerLink="/sign-up-email"><i
          class="fa fa-user-plus"></i> Sign
        Up</button>
    </div>
  </div>
</ion-content>