<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-new-todo></app-new-todo>
</ion-content>