<div class="new-todo-content new-todo-div">
  <img id="todo-image" [src]="'data:image/jpeg;base64,' + image">

  <app-location *ngIf="location" [latitude]="location.latitude" [longitude]="location.longitude"></app-location>

  <form [formGroup]="todoForm">

    <ion-item>
      <ion-input formControlName="title" required="true" placeholder="Title"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.title">
        <div class="error-message"
          *ngIf="todoForm.get('title').hasError(validation.type) && (todoForm.get('title').dirty || todoForm.get('title').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-textarea formControlName="description" required="true" placeholder="Description"></ion-textarea>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.description">
        <div class="error-message"
          *ngIf="todoForm.get('description').hasError(validation.type) && (todoForm.get('description').dirty || todoForm.get('description').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="new-todo-content new-todo-div">
      <ion-item>
        <ion-label>Done</ion-label>
        <ion-toggle formControlName="isDone" color="primary"></ion-toggle>
      </ion-item>

      <div class="action-button-group-div action-group-content">
        <app-image-picker class="new-todo-button" buttonTitle="Pick Image" imageWidth="500" imageHeight="500"
          (imagePickedEvent)="imagePicked($event)" (imageLoadingEvent)="imageLoading($event)"></app-image-picker>
        <button class="btn btn-danger new-todo-button" *ngIf="!isImageDefault()" (click)="clearImage()">Clear Image</button>
      </div>

      <div class="action-button-group-div action-group-content">
        <button class="btn btn-info new-todo-button" (click)="pickLocation()">Pick Location</button>
        <button class="btn btn-danger new-todo-button" *ngIf="location" (click)="clearLocation()">Clear
          Location</button>
      </div>

      <div class="action-button-group-div action-group-content">
        <button class="btn btn-primary new-todo-button" (click)="onSubmit()" [disabled]="!todoForm.valid">Save</button>
        <button class="btn btn-warning new-todo-button" routerLink="/tabs/todo-list">Cancel</button>
      </div>
    </div>
  </form>
</div>