<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In With Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-email-sign-in></app-email-sign-in>
</ion-content>