<form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
  <div class="centered-div email-sign-up-content">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" required="true" type="email" clearInput placeholder="Email"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="authenticationForm.get('email').hasError(validation.type) && (authenticationForm.get('email').dirty || authenticationForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" required="true" type="password" clearInput placeholder="Password">
      </ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="authenticationForm.get('password').hasError(validation.type) && (authenticationForm.get('password').dirty || authenticationForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Password Confirmation</ion-label>
      <ion-input formControlName="passwordConfirmation" required="true" type="password" clearInput
        placeholder="Password Confirmation"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
        <div class="error-message"
          *ngIf="authenticationForm.get('passwordConfirmation').hasError(validation.type) && (authenticationForm.get('passwordConfirmation').dirty || authenticationForm.get('passwordConfirmation').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!authenticationForm.valid">Sign Up</button>
  </div>
</form>