<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button class="btn btn-primary" (click)="useLocation()"><i class="fa fa-map-pin"></i></button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-here-map #heremap></app-here-map>
</ion-content>