<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo-list">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Todo List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
