@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

#todo-image {
    width: 100vw;
    height: 100vw;
}

.new-todo-content {
    width: 100%;
    height: 100%;
}

$action-group-width: 100%;
$action-group-heigh: 15%;

.action-group-content {
    width: $action-group-width;
    height: $action-group-heigh;
}

.new-todo-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.action-button-group-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.new-todo-button {
    width: 40%;
    color: white;
}

:host ::ng-deep .image-picker {
    @extend .btn;
    @extend .btn-dark;
}