<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-div profile-content">
    <button class="btn btn-warning profile-button" (click)="signOut()"><i class="fa fa-sign-out"></i> Sign Out</button>
  </div>
</ion-content>