<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-update-todo [todo]="todo"></app-update-todo>
</ion-content>