<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up With Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-email-sign-up></app-email-sign-up>
</ion-content>